<main class="m-4">
  <app-header></app-header>
  <form (ngSubmit)="onCalculateResults()">
    <div>
      <label class="mr-2" for="initialInvestment">Initial Investment</label>
      <input
        type="number"
        id="initialInvestment"
        name="initialInvestment"
        [(ngModel)]="initialInvestment"
      />
    </div>
    <div>
      <label class="mr-2" for="annualInvestment">Annual Investment</label>
      <input
        type="number"
        id="annualInvestment"
        name="annualInvestment"
        [(ngModel)]="annualInvestment"
      />
    </div>
    <div>
      <label class="mr-2" for="expectedReturn">Expected Return</label>
      <input
        type="number"
        id="expectedReturn"
        name="expectedReturn"
        [(ngModel)]="expectedReturn"
      />
    </div>
    <div>
      <label class="mr-2" for="duration">Duration</label>
      <input
        type="number"
        id="duration"
        name="duration"
        [(ngModel)]="duration"
      />
    </div>

    <p class="actions">
      <!-- <button type="button" (click)="onCancel()">Cancel</button> -->
      <button type="submit">Calculate</button>
    </p>
  </form>

  <app-investment-results [results]="resultsData"></app-investment-results>
</main>

<router-outlet />
